.error {
  color: white;
  background: red;
}

.success {
  color: white;
  background: rgb(14, 201, 14);
}

.notification_box {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 30px;
  width: 25%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
}